/* 
.ag-theme-alpine {
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 300px) {
  .ag-theme-alpine {
    flex-direction: column;
  }
} */
/* var column = [{ field: "Col1" }, { field: "Col2", }, { field: "Col3", }, { field: "Col4", }, { field: "Col5", }];

    var mobileColumn = [{ field: "Col1" }, { field: "Col2", }, { field: "Col3", }];

    window.addEventListener('resize', function () {
        setTimeout(function () {
            if (window.innerWidth <= 480) {
                gridOptions.setColumnDefs(mobileColumn);
                params.api.sizeColumnsToFit();
            }
        })
    }) */