/* Navbar css */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
nav {
  background-color: #1e272e;
}
.active {
  color: #ecf0f1;
  padding: 5px;
  background-color: #ff0000;
}
nav ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  padding: 10px 20px;
}
nav ul li NavLink {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
nav ul li:hover {
  background-color: #015d56;
  transition: 0.9s;
}
@media only screen and (max-width: 767px) {
  nav ul {
    height: 500px;
    flex-direction: column;
    text-align: center;
  }
}

.navbody__navbar {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
.navbody {
  margin-left: 10px;
  margin-right: 10px;
}
