.delete-Schemes{
  background-color: #ff3838;
  width: 80px;
}

h1 {
  color: #ff3838;
  text-align: center;
}

.export-btn{
  background-color: green;
  color: white;
}
.ag-theme-alpine{
  height: 500px;
}